# ascii code

In [2]:
chr(65)

'A'

In [3]:
l=list(range(65,91))
for i in l:
    print(i)

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [4]:
l=list(range(65,91))
for i in l:
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [38]:
ord('Z')

90

In [5]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [ ]:
a =["Muhammad Ali","Muhammad Qasim",12]

# Distionary
* Key : str, int
* Values : str ,int, float, list, tuple, set, dic..

In [9]:
a ={"Name":'Ali Solangi',
   "Fname":'Ali Akbar',
   "age":30
   }

print(a)

{'Name': 'Ali Solangi', 'Fname': 'Ali Akbar', 'age': 30}

In [18]:
# Accessing Items

a ={"Name":'Ali Solangi',
   "fname":'Ali Akbar',
   "age":30
   }


b =a["fname"]
print(b)

Ali Akbar

In [19]:

a["Name"]

'Ali Solangi'

In [10]:
a ={"Name":'Ali Solangi',
   "Fname":'Ali Akbar',
   "age":30
   }
for i in a:
    print(i)

Name
Fname
age

In [22]:
import pandas as pd


data ={"rollno":[1,2,3,4,5],
      "name":["Ali","Qasim","Hassan","Hussain","Ahmed"],
      "course":["Ai","Data Science","Excel","Machine Learning","Deep learning"]}
print(data)


df =pd.DataFrame(data)
df

{'rollno': [1, 2, 3, 4, 5], 'name': ['Ali', 'Qasim', 'Hassan', 'Hussain', 'Ahmed'], 'course': ['Ai', 'Data Science', 'Excel', 'Machine Learning', 'Deep learning']}

   rollno     name            course
0       1      Ali                Ai
1       2    Qasim      Data Science
2       3   Hassan             Excel
3       4  Hussain  Machine Learning
4       5    Ahmed     Deep learning

In [39]:
x=data.keys()
x

dict_keys(['rollno', 'name', 'course'])

# replace

In [28]:


a ='43205-5463326-9'=='4320554633269' #real data

b='43205-5463326-9'=='43205-5463326-9'
c='4320554633269'=='4320554633269'

print(a)
# print(b.replace("-",""))
# print(c)



print('43205-5463326-9'.replace("-","")=='43205-5463326-9'.replace("-",""))
print('4320554633269'.replace("","-")=='4320554633269'.replace("","-"))

False
True
True

In [35]:
d ={'a':'pakistan',
   20:'Hello world',
   (1,2,3):'abcd', #wrong method no meaning of this key
   }
print(d)



print(d['a'])
print(d[20])
print(d[(1,2,3)])

{'a': 'pakistan', 20: 'Hello world', (1, 2, 3): 'abcd'}
pakistan
Hello world
abcd

In [36]:
# We can not make key of list


d ={'a':'pakistan',
   20:'Hello world',
   (1,2,3):'abcd', #wrong method no meaning of this key
    [1,2,3]:'abcd'
   }
print(d)



print(d['a'])
print(d[20])
print(d[(1,2,3)])

TypeError: unhashable type: 'list'

# Tuple

In [43]:
# String

a = "Muhammad Qasim"
print(a,type(a))

a[0]='m'   # can not be changed, immutable

print(a)

Muhammad Qasim <class 'str'>

TypeError: 'str' object does not support item assignment

In [52]:
t =('X','Y','Z')
print(t,type(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [54]:
for i in t:
    print(i)

X
Y
Z

In [53]:
print([i for i in dir(a) if '__'not in i])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [59]:
t[0]

'X'

In [58]:
t[-1]

'Z'

In [60]:
t[0]='A'

TypeError: 'tuple' object does not support item assignment

In [63]:
a =("pakistan","y","z")

print(t)
print(id(t))

print(a)
print(id(a))

('X', 'Y', 'Z')
2172359196352
('pakistan', 'y', 'z')
2172360276608

# Calling Time

* List_var[index]
* tuple_var[index]
* dic_var[key]
* set_var[] there is no scope for indexing.

# Set

In [64]:
# Not duplicate allow

se ={1,2,3,4,5,1,1}
print(se)

{1, 2, 3, 4, 5}

In [65]:
print(se[0])

TypeError: 'set' object is not subscriptable

In [68]:
data ={"rollno":[1,2,3,4,5]}


print(data)
print(data['rollno'])
print(data['rollno'][2])

{'rollno': [1, 2, 3, 4, 5]}
[1, 2, 3, 4, 5]
3

In [73]:
a=[1,2,3,{'id':'1','name':'Ali'}]
print(a)
print(a[-1])
print(a[-1]['name'])

[1, 2, 3, {'id': '1', 'name': 'Ali'}]
{'id': '1', 'name': 'Ali'}
Ali

In [75]:
print(a)
print(type(a))

isinstance(a,list)

[1, 2, 3, {'id': '1', 'name': 'Ali'}]
<class 'list'>

True

In [76]:
{'c',1,2,3,4,5,'a','b','c'}

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [89]:
course =['AI','AI','DS','DS']
print(type(course))


a=set(course)
print(type(a))

# converting set to list

print(list(set(a[0])))

<class 'list'>
<class 'set'>

TypeError: 'set' object is not subscriptable

In [95]:
course =['AI','AI','DS','DS']
print(course ,type(course))


course =set(course)
print(course,type(course))



course =list(course)
print(course,type(course))



course.reverse()
print(course,type(course))

['AI', 'AI', 'DS', 'DS'] <class 'list'>
{'AI', 'DS'} <class 'set'>
['AI', 'DS'] <class 'list'>
['DS', 'AI'] <class 'list'>

In [81]:
a={'d',4,33,'a','b'}
a

{33, 4, 'a', 'b', 'd'}

In [115]:
a = [1,2,2,2,2,3,4,5,'a','b','b','c']

print(a,type(a))

a= set(a)
# print(a,type(a))/
print(a,type(a))

a =list(a)
print(a,type(a))


a_string =[i for i in a]
print(a_string)

a_string =[i for i in a if isinstance (i,str)]  # show only characters
print(a_string)


a_integer =[i for i in a if isinstance (i,int)]  # show only integer
print(a_integer)


ab = a_string + a_integer
print(ab)


ab =a_string.extend(a_integer)
print(ab)

[1, 2, 2, 2, 2, 3, 4, 5, 'a', 'b', 'b', 'c'] <class 'list'>
{'a', 1, 2, 3, 4, 5, 'b', 'c'} <class 'set'>
['a', 1, 2, 3, 4, 5, 'b', 'c'] <class 'list'>
['a', 1, 2, 3, 4, 5, 'b', 'c']
['a', 'b', 'c']
[1, 2, 3, 4, 5]
['a', 'b', 'c', 1, 2, 3, 4, 5]
None

In [117]:
a_integer =sorted(a_integer)
print(a_integer )

[1, 2, 3, 4, 5]

In [119]:
#input

d ={'fname':input("Enter your fName:"),
   'Lname':input("Enter your Lname:"),
   'rollno':input("Enter your Roll no:")}

print(d)

Enter your fName:ali
Enter your Lname:solangi
Enter your Roll no:56
{'fname': 'ali', 'Lname': 'solangi', 'rollno': '56'}

In [120]:
isinstance("pakistan",int)

False

In [122]:
i = [1,2,3,4]

print(isinstance(i,int))
print(isinstance(i,str))
print(isinstance(i,tuple))
print(isinstance(i,list))
print(isinstance(i,set))

False
False
False
True
False