# dictionary {}

* Dictionaries are used to store data values in key:value pairs.

* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [118]:
import pandas as pd

In [125]:
# creating a dictionary
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

# printing the dictionary
print(country_capitals)


new_var =[country_capitals]  # type casting dic to list
df =pd.DataFrame(new_var)
print(type(df))
df

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}
<class 'pandas.core.frame.DataFrame'>

     United States Italy England
0  Washington D.C.  Rome  London

In [120]:
# Valid dictionary

my_dict = {
  1: "Hello", 
  (1, 2): "Hello Hi", 
  3: [1, 2, 3]
}

print(my_dict)

df =pd.DataFrame(my_dict)
df

{1: 'Hello', (1, 2): 'Hello Hi', 3: [1, 2, 3]}

       1    (1, 2)  3
0  Hello  Hello Hi  1
1  Hello  Hello Hi  2
2  Hello  Hello Hi  3

In [122]:
 # Invalid dictionary
# Error: using a list as a key is not allowed

my_dict = {
  1: "Hello", 
  [1, 2]: "Hello Hi", 
}

print(my_dict)

TypeError: unhashable type: 'list'

In [121]:
# Error


a =dict("names"=['Ali','Hassan','qasim'],
       "rollno"=[1,2,3])
df=pd.DataFrame(a)
df

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3867451454.py, line 1)

In [38]:
# not allow duplicates.

dict1 = {'name': 'Ali', 'age': 27, 'name': 'Ali'}
print(dict1)

{'name': 'Ali', 'age': 27}

In [45]:
fruit = {'fruit': ['apple', 'banana', 'orange', 'mango', 'grape'],
        "rollno":[1,2,3,4,5,6,7]}
print(fruit["fruit"])

['apple', 'banana', 'orange', 'mango', 'grape']

In [46]:
#indexing in dic

fruit = {'fruit': ['apple', 'banana', 'orange', 'mango', 'grape'],
        "rollno":[1,2,3,4,5,6,7]}
print(fruit["fruit"][0])

apple

In [52]:
watches = {
    'Rolex':'Datejust',
    'Patek Philippe': 'Nautilus',
    'Omega': 'Speedmaster',
    "year":2023,
    "countries":['Canada','Uk','USA']
    }



df =pd.DataFrame(watches)
df

      Rolex Patek Philippe        Omega  year countries
0  Datejust       Nautilus  Speedmaster  2023    Canada
1  Datejust       Nautilus  Speedmaster  2023        Uk
2  Datejust       Nautilus  Speedmaster  2023       USA

In [128]:
# Pending

watches = {
    'Rolex':'Datejust',
    'Patek Philippe': 'Nautilus',
    'Omega': 'Speedmaster',
    "year":2023,
    "country":'Canada'
    }

# df = df.assign(year=2023, country='Canada')
# print(df)

var_new =[watches]


df =pd.DataFrame(var_new)
df

      Rolex Patek Philippe        Omega  year country
0  Datejust       Nautilus  Speedmaster  2023  Canada

In [67]:
fruit = {'fruit': ['apple', 'banana', 'orange', 'mango', 'grape'],
        "rollno":[1,2,3,4,5,6,7]}

print(len(fruit)) #fruit len
print(type(fruit)) # check data type

for key in fruit.items():
    print(key)
    
print(len(key))# key len

2
<class 'dict'>
('fruit', ['apple', 'banana', 'orange', 'mango', 'grape'])
('rollno', [1, 2, 3, 4, 5, 6, 7])
2

In [37]:
dict = {'name': 'Ali',
        'age': 27, 
        'address': '123 Main Street'}

for key, value in dict.items():
    print(key, value)

name Ali
age 27
address 123 Main Street

In [75]:
# Accessing Items

dic ={"fruits":['Apple','Apricot','Avocado','Banana','Black currant','Blackberry','Blueberry'],
     "rollno":[1,2,3,4,5,6,7]}
print(dic['fruits'])

['Apple', 'Apricot', 'Avocado', 'Banana', 'Black currant', 'Blackberry', 'Blueberry']

In [76]:
# Accessing Items with get

dic ={"fruits":['Apple','Apricot','Avocado','Banana','Black currant','Blackberry','Blueberry'],
     "rollno":[1,2,3,4,5,6,7]}
print(dic.get('fruits'))

['Apple', 'Apricot', 'Avocado', 'Banana', 'Black currant', 'Blackberry', 'Blueberry']

In [80]:
# Get Keys and values
# The keys() method will return a list of all the keys in the dictionary.

x =dic.keys()
print(x)


# Values
x =dic.values()
print(x)

dict_keys(['fruits', 'rollno'])
dict_values([['Apple', 'Apricot', 'Avocado', 'Banana', 'Black currant', 'Blackberry', 'Blueberry'], [1, 2, 3, 4, 5, 6, 7]])

In [84]:

dic ={"fruits":['Apple','Apricot','Avocado','Banana','Black currant','Blackberry','Blueberry'],
     "rollno":[1,2,3,4,5,6,7]}


dic['Cnic']=[4320453623269]
dic
# print(dic)
# df =pd.DataFrame(dic)
# df

{'fruits': ['Apple',
  'Apricot',
  'Avocado',
  'Banana',
  'Black currant',
  'Blackberry',
  'Blueberry'],
 'rollno': [1, 2, 3, 4, 5, 6, 7],
 'Cnic': [4320453623269]}

In [85]:
# Get Items
# The items() method will return each item in a dictionary, as tuples in a list.

dic ={"fruits":['Apple','Apricot','Avocado','Banana','Black currant','Blackberry','Blueberry'],
     "rollno":[1,2,3,4,5,6,7]}

x =dic.items()
print(x)

dict_items([('fruits', ['Apple', 'Apricot', 'Avocado', 'Banana', 'Black currant', 'Blackberry', 'Blueberry']), ('rollno', [1, 2, 3, 4, 5, 6, 7])])

In [28]:
dic ={"fruits":['Apple','Apricot','Avocado','Banana','Black currant','Blackberry','Blueberry'],
     "rollno":[1,2,3,4,5,6,7]}

for key, value in dic.items():
    print(key, value)

    
import pandas as pd

df =pd.DataFrame(dic)
df

fruits ['Apple', 'Apricot', 'Avocado', 'Banana', 'Black currant', 'Blackberry', 'Blueberry']
rollno [1, 2, 3, 4, 5, 6, 7]

          fruits  rollno
0          Apple       1
1        Apricot       2
2        Avocado       3
3         Banana       4
4  Black currant       5
5     Blackberry       6
6      Blueberry       7

In [87]:
dict1 = {'name':[ 'Ali'], 
        'age': [27], 
        'address':[ '123 Main Street']}

for key, value in dict1.items():
    print(key, value)
    
df = pd.DataFrame(dict1)
df

name ['Ali']
age [27]
address ['123 Main Street']

  name  age          address
0  Ali   27  123 Main Street

In [97]:
dic = {'name':'Ali', 
        'age': 27, 
        'address':'123 Main Street'}

print(dic)
# for key, value in dic.items():
#     print(key, value)
    
# df = pd.DataFrame(dic)
# df

{'name': 'Ali', 'age': 27, 'address': '123 Main Street'}

In [111]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

a=car.items()
a



car['color']='red'
car

# Creates error when i put code in pandas

# df = pd.DataFrame(car)
# df

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [114]:
# Check if Key Exists

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

if 'brand' in car:
    print('yes its available')

else:
    print("not available")

yes its available

In [134]:
# creating a dictionary
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "year":2012
}

country_capitals.update({"year":2023})

print(country_capitals)

#type casting
a1 =[country_capitals]
df =pd.DataFrame(a1)
df


print(type(a1))
print(type(df))

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'year': 2023}
<class 'list'>
<class 'pandas.core.frame.DataFrame'>

# Adding Items

In [135]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    
   
}

country_capitals["Canada"]='ottawa'
print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'ottawa'}

# update

In [137]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto'
    
   }

print(country_capitals)

country_capitals.update({"Canada":'Ottawa'})
print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Toronto'}
{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Ottawa'}

# Removing Items

In [139]:
# The pop() method removes the item with the specified key name:


country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

print(country_capitals)

country_capitals.pop("Year")
print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Toronto', 'Year': 2023}
{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Toronto'}

In [140]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }
country_capitals.popitem()

print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Toronto'}

In [141]:
# The del keyword removes the item with the specified key name:


country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

del country_capitals["Year"]
print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Toronto'}

In [146]:
# The del keyword can also delete the dictionary completely:

country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

del country_capitals
print(country_capitals)

NameError: name 'country_capitals' is not defined

In [143]:
# The clear() method empties the dictionary:

country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

country_capitals.clear()
print(country_capitals)

{}

In [151]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

for i in country_capitals:
    print(i)

United States
Italy
England
Canada
Year

In [150]:
# Values printing

country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

for i in country_capitals:
    print(country_capitals[i])

Washington D.C.
Rome
London
Toronto
2023

In [152]:
# Values printing


country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

for i in country_capitals.values():
    print(i)

Washington D.C.
Rome
London
Toronto
2023

In [153]:
# Keys printing

country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

for i in country_capitals.keys():
    print(i)

United States
Italy
England
Canada
Year

In [157]:
# You can use the keys() method to return the keys of a dictionary:

country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }


for x,y in country_capitals.items():
    print(x,y)
    
x1 = [country_capitals]    
df =pd.DataFrame(x1)
df

United States Washington D.C.
Italy Rome
England London
Canada Toronto
Year 2023

     United States Italy England   Canada  Year
0  Washington D.C.  Rome  London  Toronto  2023

In [158]:
# Copy dic


country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }


mydict =country_capitals.copy()

print(mydict)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London', 'Canada': 'Toronto', 'Year': 2023}

In [160]:
# Make a copy of a dictionary with the dict() function:


country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London",
    "Canada":'Toronto',
    "Year":2023
    
   }

mydict =dict(country_capitals)
print(mydict)

TypeError: 'dict' object is not callable

# Nested Dictionaries

In [169]:
myfamily ={
    
    "Brothers":{
        "brothers":['Sohail','Shahid'],
        "Age":[36,40],
        "Qualification":['Entermediate','Graduate'] },
    
    "nephews":{
        "Nephews":['Zeeshan','Mohsin'],
        "Age":[25,17],
         "Qualification":['Entermediate','Matric']}
    
     
    
}

print(myfamily)

df=pd.DataFrame(myfamily)

df

{'Brothers': {'brothers': ['Sohail', 'Shahid'], 'Age': [36, 40], 'Qualification': ['Entermediate', 'Graduate']}, 'nephews': {'Nephews': ['Zeeshan', 'Mohsin'], 'Age': [25, 17], 'Qualification': ['Entermediate', 'Matric']}}

                               Brothers                 nephews
brothers               [Sohail, Shahid]                     NaN
Age                            [36, 40]                [25, 17]
Qualification  [Entermediate, Graduate]  [Entermediate, Matric]
Nephews                             NaN       [Zeeshan, Mohsin]

In [171]:
myfamily ={
    
    "Brothers":{
        "brothers":['Sohail','Shahid'],
        "Age":[36,40],
        "Qualification":['Entermediate','Graduate'] },
    
    "nephews":{
        "Nephews":['Zeeshan','Mohsin'],
        "Age":[25,17],
         "Qualification":['Entermediate','Matric']}
    
     
    
}


print(myfamily['Brothers'])

{'brothers': ['Sohail', 'Shahid'], 'Age': [36, 40], 'Qualification': ['Entermediate', 'Graduate']}

In [172]:
myfamily ={
    
    "Brothers":{
        "brothers":['Sohail','Shahid'],
        "Age":[36,40],
        "Qualification":['Entermediate','Graduate'] },
    
    "nephews":{
        "Nephews":['Zeeshan','Mohsin'],
        "Age":[25,17],
         "Qualification":['Entermediate','Matric']}
    
     
    
}


print(myfamily['Brothers']['brothers'])

['Sohail', 'Shahid']

# setdefault()

In [182]:
stu ={101:'Ali', 102:'Hassan', 103:'Qasim'}
print("Originale Dict:")
print(stu)
print(id(stu))

 

returned_value =stu.setdefault(101,'python')
print(returned_value)

Originale Dict:
{101: 'Ali', 102: 'Hassan', 103: 'Qasim'}
2981947387456
Ali

In [183]:
stu ={101:'Ali', 102:'Hassan', 103:'Qasim'}
print("Originale Dict:")
print(stu)
print(id(stu))

 

returned_value =stu.setdefault(104,'python')
print(returned_value)



print("After Setdefault Dict")
print(stu)
print(id(stu))
print("returned_value",returned_value)

Originale Dict:
{101: 'Ali', 102: 'Hassan', 103: 'Qasim'}
2981943306560
python
After Setdefault Dict
{101: 'Ali', 102: 'Hassan', 103: 'Qasim', 104: 'python'}
2981943306560
returned_value python