# List In Python

# A list in Python is a collection of items that are ordered and changeable. Lists are one of the four built-in data types in Python, the other three being tuples, sets, and dictionaries.

In [1]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
# You can access the items in a list using their index.

num =numbers[1]
print(num)

2

In [4]:
# You can also add and remove items from a list. To add an item to the end of a list, you can use the append()

numbers=[1,2,3,4,5]
print(numbers)

# after adding 6 no in the list
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [9]:
numbers=[1,2,3,4,5]
print(numbers)


# after adding 6 no in the list
numbers.append(6)
print("After adding 6 no in the list:\n",numbers)



numbers.remove(6)
print("After removing 6 no the list is:\n",numbers)

[1, 2, 3, 4, 5]
After adding 6 no in the list:
 [1, 2, 3, 4, 5, 6]
After removing 6 no the list is:
 [1, 2, 3, 4, 5]

In [2]:
numbers=[1,2,3,4,5]
print(numbers)


numbers.insert(0,6)
print(numbers)

[1, 2, 3, 4, 5]
[6, 1, 2, 3, 4, 5]

In [19]:
list1=["Ali","Hassan","Qasim","Akbar","Abbass",1,2,3,4,5]
print(list1)

# Returns the number of times an item appears in the list.
a=list1.count("Qasim")
print(a)

['Ali', 'Hassan', 'Qasim', 'Akbar', 'Abbass', 1, 2, 3, 4, 5]
1

In [32]:
list1=["Ali","Hassan","Qasim","Akbar","Abbass",1,2,3,4,5]

list1.reverse()
print(list1)

[5, 4, 3, 2, 1, 'Abbass', 'Akbar', 'Qasim', 'Hassan', 'Ali']

In [26]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [35]:
fruits = ['apple', 'banana', 'cherry', 'Mango','Orange']

fruits.insert(5,"Water malen")

print(fruits)

['apple', 'banana', 'cherry', 'Mango', 'Orange', 'Water malen']

In [39]:
nums = [1, 5, 3, 4, 2, 10, 6, 8, 7, 9]
nums.sort()
print('List in Ascending Order: ', nums,"\n")



nums.sort(reverse=True)
print('List in Descending Order: ', nums)

List in Ascending Order:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List in Descending Order:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
animals = ['cat', 'dog', 'rabbit', 'horse']

# get the index of 'dog'
index = animals.index('dog')


print(index)

1

In [45]:
animals = ['cat', 'dog', 'rabbit', 'horse']

# get the index of 'dog'
removed_element = animals.pop(2)


print('Removed Element:', removed_element)
print('Updated List:',animals )

Removed Element: rabbit
Updated List: ['cat', 'dog', 'horse']

In [43]:
prime_numbers = [2, 3, 5, 7,6,4,1,8,9,10]

# remove the element at index 2
removed_element = prime_numbers.pop(2)

print('Removed Element:', removed_element)
print('Updated List:', prime_numbers)

Removed Element: 5
Updated List: [2, 3, 7, 6, 4, 1, 8, 9, 10]

In [51]:
# The remove() method removes the first matching element (which is passed as an argument) from the list.


prime_numbers = [2, 3, 5, 7,6,4,1,8,9,10]

# remove the element at index
a=prime_numbers.remove(5)

print('Removed Element:',a)
print('Updated List:', prime_numbers)

Removed Element: None
Updated List: [2, 3, 7, 6, 4, 1, 8, 9, 10]

In [11]:
# create a list
prime_numbers = [2, 3, 5, 7, 9, 11]

# remove 9 from the list
d=prime_numbers.pop(prime_numbers.index(9))


# Updated prime_numbers List

print('Updated List: ', prime_numbers)
print('Removed Number: ',d)

Updated List:  [2, 3, 5, 7, 11]
Removed Number:  9

In [5]:
prime_numbers = [2, 3, 5, 7, 9, 11]

d=prime_numbers.pop(3)
print('Updated List: ', prime_numbers)
print('Removed Number: ',d)


# Specific no will be removed
a=prime_numbers.pop(prime_numbers.index(2))
print('Updated List: ', prime_numbers)
print('Removed Number: ',a)

Updated List:  [2, 3, 5, 9, 11]
Removed Number:  7
Updated List:  [3, 5, 9, 11]
Removed Number:  2

In [3]:
#import pandas as pd

# Create a list
prime_numbers = [2, 3, 5, 7, 9, 11]

# Remove 9 from the list
removed_number = prime_numbers.pop(prime_numbers.index(9))

# Print the updated list
print('Updated List: ', prime_numbers)
print('Removed Number: ', removed_number)

Updated List:  [2, 3, 5, 7, 11]
Removed Number:  9

In [1]:
#find the number at what index is available

a = [2, 3, 5, 7, 9, 11]

print(a.index(11))
print(type(a))

5
<class 'list'>

In [4]:
# Accessing the list
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [6]:
fruits = ["apple", "banana", "cherry"]
print(fruits[:-1])

['apple', 'banana']

In [8]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [9]:
numbers = [1, 2, 3, 4, 5]
second_number = numbers[1]
print(second_number)

2

In [10]:
fruits = ["banana", "orange", "grape"]
fruits[1] = "apple"
print(fruits)

['banana', 'apple', 'grape']

In [11]:
fruits = ["grape", "orange", "watermelon"]
fruits[:2] = ["apple", "banana"]
print(fruits)

['apple', 'banana', 'watermelon']

In [12]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)

['apple', 'blackcurrant', 'cherry']

In [13]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"]
print(fruits )

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [14]:
fruits= ["apple", "banana", "cherry"]
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

In [15]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [16]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [32]:
number=[1,2,4,4,5,6,6,7,8,9,9]
number.insert(2,3)
print(number)

[1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9]

In [7]:
# updated the list

number=[1,2,4,4,5,6,6,7,8,9,9]

print(number)

number[2]=3
print("Updated List",number)

[1, 2, 4, 4, 5, 6, 6, 7, 8, 9, 9]
Updated List [1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 9]

In [8]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

a=thislist + tropical

print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# The join() method

In [ ]:
a =['Hello','World']

join

In [21]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]


joined_list =' '.join(thislist+tropical)
print(joined_list)

apple banana cherry mango pineapple papaya

In [16]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [35]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']