In [ ]:
import array

# Create an array of integers
arr = array.array('i', [1, 2, 3, 4, 5])

# Print the array
print(arr)
print(type(arr))

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars[0] = "Toyota"

print(cars)
print(type(cars))

#  list data type
* heterogeneous data
* dynamic length
* dynamic memory management

In [ ]:
names=["Hammad","Hassan","Hussain","Kamran"]
print(names)

In [ ]:
#input in list

name1=input("please insert name with ',' seprated:")

print(name1.split())

In [ ]:
#input in list and for loop

name1=input("please insert name with ',' seprated:")

print(name1.split())

for i in name1:
    print(i)

In [8]:
#input in list and for loop

name1=input("please insert name with ',' seprated:")

name1=name1.split()

print(name1)
for i in name1:
    print(i)

please insert name with ',' seprated:ali,asad,hassan
['ali,asad,hassan']
ali,asad,hassan

# Access list through indexing

In [ ]:
names=["Hammad","Hassan","Hussain","Kamran"]
print(names[0])

In [ ]:
names=["Hammad","Hassan","Hussain","Kamran"]
print(names[-2])

# Slicing on list
* listing_variable[start:end:step]
* Start =this number will be included
* end = excluded end-1
* step= sequance /gap

In [13]:
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
a =list(range(1,11))
print(a)

print(a[1:7:2])
print(a[1:7])
print(a[1:2])
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6]
[2, 3, 4, 5, 6, 7]
[2]
1

In [34]:
a =list(range(1,11))
print(a)
print(a[-7:])
print(a[1:-1])
print(a[::2])
print(a[1::2])
print(a[1:8:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[2, 4, 6, 8]

In [44]:
a =list(range(1,11))
print(a)
print(a[::-1])
print(a[-5:-10:-1])
print(a[-5:-10:-2])
print(a[-5:-10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2]
[6, 4, 2]
[]

In [40]:
character = list["abcdefghijklmnopqrstuvwxyz"]
print(character)

list['abcdefghijklmnopqrstuvwxyz']

In [12]:
character = list("abcdefghijklmnopqrstuvwxyz")
print(character)
print(type(character))


counter =0

while(counter <len(character)):
    print(character[counter])
    counter +=1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
<class 'list'>
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
character = list("abcdefghijklmnopqrstuvwxyz")
print(character)
print(type(character))


counter =0

while(counter <len(character)):
    print(character[counter])
    counter +=2

In [48]:
import numpy as np


a =np.arange(1,101).reshape(10,10).tolist()
print(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40], [41, 42, 43, 44, 45, 46, 47, 48, 49, 50], [51, 52, 53, 54, 55, 56, 57, 58, 59, 60], [61, 62, 63, 64, 65, 66, 67, 68, 69, 70], [71, 72, 73, 74, 75, 76, 77, 78, 79, 80], [81, 82, 83, 84, 85, 86, 87, 88, 89, 90], [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [49]:
display(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [50]:
[i[5:8]for i in a]

[[6, 7, 8],
 [16, 17, 18],
 [26, 27, 28],
 [36, 37, 38],
 [46, 47, 48],
 [56, 57, 58],
 [66, 67, 68],
 [76, 77, 78],
 [86, 87, 88],
 [96, 97, 98]]

# List Method

In [51]:
a =list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [53]:
[i for i in dir(a) if"__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
for i in "abcdefghi":
    print(i)

a
b
c
d
e
f
g
h
i

In [58]:
[i for i in "abcdefghi"]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [59]:
for i in ["Ali","Hassan","Hussain"]:
    print(i,"Hello")

Ali Hello
Hassan Hello
Hussain Hello

In [66]:
names =[]
print(names)

names.append("Qasim")
print(names)

names.append("Asif")
print(names)

names.append("Hamza")
print(names)

names.append("Sohail")
print(names)

[]
['Qasim']
['Qasim', 'Asif']
['Qasim', 'Asif', 'Hamza']
['Qasim', 'Asif', 'Hamza', 'Sohail']

In [68]:
while True:
    name1 =input("Enter Student name | x for exit:")
    if name1 == "X" or name1 == "x":
        break
    names.append(name1)
print(names)

Enter Student name | x for exit:asif
Enter Student name | x for exit:salman
Enter Student name | x for exit:shahid
Enter Student name | x for exit:kashif
Enter Student name | x for exit:Hassan
Enter Student name | x for exit:Hussain
Enter Student name | x for exit:Abid
Enter Student name | x for exit:parvez
Enter Student name | x for exit:x
['Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']

In [72]:
std_name =names
print(std_name)

['Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']

In [73]:
std_name[0]

'Qasim'

In [75]:
std_name[0] ="Muhammad Qasim"
print(std_name)
print(names)

['Muhammad Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']
['Muhammad Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']

In [76]:
std_name1 =names.copy()  # deep copy
print(std_name1)

['Muhammad Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']

In [78]:
std_name1[0]="Qasim"
print(std_name1)
print(names)

['Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']
['Muhammad Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']

In [87]:
print(names)
n =names[:]   # deep copy
n[0]="Qasim"
print(n)
print(names)

['Muhammad Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']
['Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']
['Muhammad Qasim', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez']

In [88]:
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez']

In [89]:
names.append('111')
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111']

In [90]:
names.append('2222')
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 '2222']

In [91]:
names.append(['111'])
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 '2222',
 ['111']]

In [92]:
remaining_names =['a','b','c']
remaining_names

['a', 'b', 'c']

In [93]:
names.extend(remaining_names)
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 '2222',
 ['111'],
 'a',
 'b',
 'c']

In [94]:
del names[-4]

In [95]:
names

['Muhammad Qasim',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 '2222',
 'a',
 'b',
 'c']

In [99]:
names.index("Sohail")
names

['Muhammad Qasim',
 'Sohail',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 '2222',
 'a',
 'b',
 'c']

In [98]:
names.insert(1,"Sohail")
names

['Muhammad Qasim',
 'Sohail',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 '2222',
 'a',
 'b',
 'c']

In [100]:
names.remove("2222")
names

['Muhammad Qasim',
 'Sohail',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 'a',
 'b',
 'c']

In [101]:
del names[0]
names

['Sohail',
 'Asif',
 'Hamza',
 'Sohail',
 'asif',
 'salman',
 'shahid',
 'kashif',
 'Hassan',
 'Hussain',
 'Abid ',
 'parvez',
 '111',
 'a',
 'b',
 'c']

In [103]:
c = names.pop()
print(c)
print(names)

c
['Sohail', 'Asif', 'Hamza', 'Sohail', 'asif', 'salman', 'shahid', 'kashif', 'Hassan', 'Hussain', 'Abid ', 'parvez', '111', 'a', 'b']