# SET
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Sets are written with curly brackets.{}
* A set in Python is a collection of unique elements

In [ ]:
set1 = {1, 2, 3, 4, 5}

In [4]:
# not duplicate allow
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)   # {8, 2, 4, 6}

{8, 2, 4, 6}

In [6]:
numbers = [2, 4, 6, 6, 2, 8]
print(numbers)

# type casting

set1 =set(numbers)
print(set1)

[2, 4, 6, 6, 2, 8]
{8, 2, 4, 6}

In [7]:
# not duplicate allow

set1 = {"apple", "banana", "cherry", "apple"}

print(set1)

{'banana', 'cherry', 'apple'}

In [8]:
set1 = {"apple", "banana", "cherry", "apple", True, 1,2}

print(set1)

{True, 2, 'cherry', 'apple', 'banana'}

In [9]:
set1 = {"apple", "banana", "cherry", "apple", True, 1,2}

print(set1,len(set1))

{True, 2, 'cherry', 'apple', 'banana'} 5

# The set() Constructor

In [10]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}

In [13]:
set1 = {"apple", "banana", "cherry", "apple", True, 1,2}

for i in set1:
    print(i)

True
2
cherry
apple
banana

In [14]:
set1 = {"apple", "banana", "cherry", "apple", True, 1,2}

print("cherry" in set1)

True

# update set

In [23]:
set1 = {"apple", "banana", "cherry", "apple", True, 1,2}

set1.update(["Mango"])

print(set1)

{True, 2, 'cherry', 'apple', 'banana', 'Mango'}

In [ ]:
set1 = {1, 2, 3, 4, 5}

set1.update([6, 7, 8])

In [24]:
set1 = {1, 2, 3, 4, 5}

set1.update([6, 7, 8])

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
set1 = {1, 2, 3, 4, 5}

set2 = {6, 7, 8}

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

# Add Items

In [27]:
set1 = {"apple", "banana", "cherry", "apple", True, 1,2}

set1.add("mango")
print(set1)

{True, 2, 'cherry', 'apple', 'mango', 'banana'}

In [28]:
set1 = {1, 2, 3, 4, 5}

set1.add(6)

print(set1)  # prints {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [30]:
set1 = {1, 2, 3, 4, 5}

set1.update([6])

print(set1)  # prints {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [31]:
set1 = {1, 2, 3, 4, 5}

# Add the number 6 to the set
set1.add(6)

print(set1)  # prints {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [36]:
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
vowel_letters.add('love')
print(vowel_letters)

{'i', 'u', 'o', 'a', 'e', 'love'}

In [3]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)


print(id(mixed_set))
print(type(mixed_set))

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'i', 'u', 'o', 'a', 'e'}
Set of mixed data types: {'Bye', 101, 'Hello', -2}
2308251170208
<class 'set'>

In [33]:
student_id = {112, 114, 116, 118, 115}
vowel_letters = {'a', 'e', 'i', 'o', 'u'}

student_id.update(vowel_letters )

print(student_id )

{'u', 'a', 112, 'i', 114, 115, 116, 118, 'o', 'e'}

In [35]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset, type(thisset))

{'apple', 'cherry', 'orange', 'banana', 'kiwi'} <class 'set'>

# Remove Item
# To remove an item in a set, use the remove(), or the discard() method.

In [38]:
vowel_letters = {'a', 'e', 'i', 'o', 'u','love'}
print(vowel_letters)


vowel_letters.remove('love')
print(vowel_letters)

{'i', 'u', 'o', 'a', 'e', 'love'}
{'i', 'u', 'o', 'a', 'e'}

In [39]:
vowel_letters = {'a', 'e', 'i', 'o', 'u','love'}
print(vowel_letters)


vowel_letters.discard('love')
print(vowel_letters)

{'i', 'u', 'o', 'a', 'e', 'love'}
{'i', 'u', 'o', 'a', 'e'}

In [45]:
vowel_letters = {'a', 'e', 'i', 'o', 'u','love'}
print(vowel_letters)


vowel_letters.pop()
print(vowel_letters)

{'i', 'u', 'o', 'a', 'e', 'love'}
{'u', 'o', 'a', 'e', 'love'}

In [47]:
vowel_letters = {'a', 'e', 'i', 'o', 'u','love'}
print(vowel_letters)


vowel_letters.clear()
print(vowel_letters)

{'i', 'u', 'o', 'a', 'e', 'love'}
set()

In [48]:
# Deleted 

vowel_letters = {'a', 'e', 'i', 'o', 'u','love'}
print(vowel_letters)


del vowel_letters
print(vowel_letters)

{'i', 'u', 'o', 'a', 'e', 'love'}

NameError: name 'vowel_letters' is not defined

In [50]:
vowel_letters = {'a', 'e', 'i', 'o', 'u','love'}


for i in vowel_letters:
    print(i)

i
u
o
a
e
love

# Join Sets

In [51]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}


set3 =set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [55]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}


set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

# Keep ONLY the Duplicates
# The intersection_update() method will keep only the items that are present in both sets.

In [56]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [57]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

# Keep All, But NOT the Duplicates
* The symmetric_difference_update() method will keep only the elements that are NOT present in both sets

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google'}

# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [60]:
x = {"apple", "banana", "cherry","Graps"}
y = {"google", "microsoft", "apple","Graps"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

# True and 1 is considered the same value:

In [62]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{2, 'cherry', 'google', 'banana'}

In [64]:
# Copy

x = {"apple", "banana", "cherry", True}
y =x.copy()
print(y)

{True, 'banana', 'cherry', 'apple'}