In [1]:
data = "pakistan zindabad"
print(data)

pakistan zindabad

In [2]:
data = "pakistan zindabad"
print(data)
print(type(data))

pakistan zindabad
<class 'str'>

In [3]:
data = 'pakistan zindabad' hello world'
print(data)
print(type(data))

SyntaxError: unterminated string literal (detected at line 1) (1956832048.py, line 1)

In [ ]:
data = 'pakistan zindabad " hello world'
print(data)
print(type(data))

In [ ]:
data = "pakistan zindabad ' hello world ' "
print(data)
print(type(data))

# Convert Special character into normal character
* place "\" before any special character

In [ ]:
data = 'pakistan zindabad\' hello world'
print(data)
print(type(data))

In [ ]:
# Assign Multi line String

abc ="line1 pakistan "\
"line2 Pakistan "\
"Line3 Pakistan"

print(abc)
print(type(abc))

In [ ]:
abc ="""" 

Line1 Hello World
Line2 Pakistan Zindabad
Line3 We love our Country
"""
print(abc,type(abc))

In [ ]:
abc ='''

Line1 Hello World
Line2 Pakistan 'Zindabad
Line3 We love our\tCountry
'''
print(abc,type(abc))

# concatination and Text formation

In [ ]:
# both operands should be same for performing operation
"1" + 1

In [ ]:
1 + 1

In [ ]:
#String
a = input("Enter No1:")
b= input("Enter No2:")

print(type(a), type(b))

print(a+b)

In [ ]:
a = input("Enter No1:")
b= input("Enter No2:")



print(type(a), type(b))

print(a+b)

In [ ]:
# type Casting

a = input("Enter No1:")
b= input("Enter No2:")

c=int(a)
d=int(b)

print(type(c), type(d))

print(c+d)

In [ ]:
# type Casting

a = input("Enter No1:")
b= input("Enter No2:")

a=int(a)
b=int(b)

print(type(c), type(d))

print(a+b)

In [ ]:
# type Casting

a = int(input("Enter No1:"))
b= int(input("Enter No2:"))

print(a+b)

print(type(a), type(b))

In [ ]:
int("1") + 1

In [ ]:
"1" + str("1")

In [11]:
# Difficult way 

roll_no = 200
name ="Ali Solangi"
fname ="Ali Akbar"
contact_no ="03473742872"


card ="NED UNIVERSITY \nstudent roll no:" + str(roll_no)+\
"\nStudent Name:" + name + "\nFather's Name:" +fname\
+"\nContact No:"+contact_no

print(card)

NED UNIVERSITY
student roll no:200
Student Name:Ali Solangi
Father's Name:Ali Akbar
Contact No:03473742872

In [24]:
card1 = """NED UNIVERSITY
roll_no =\t\t200
name =\t\t\tAli Solangi
fname =\t\t\tAli Akbar
contact_no =\t\t03473742872


"""

print(card1)

NED UNIVERSITY
roll_no =		200
name =			Ali Solangi
fname =			Ali Akbar
contact_no =		03473742872

# Format

In [32]:
roll_no = 200
name ="Ali Solangi"
fname ="Ali Akbar"
contact_n0 ="03473742872"


card1 = """NED UNIVERSITY
roll_no =\t\t{}
name =\t\t\t{}
fname =\t\t\t{}
contact_no =\t\t{}""".format(roll_no,name,fname,contact_no)
#                             0        1    2       3

print(card1)

NED UNIVERSITY
roll_no =		200
name =			Ali Solangi
fname =			Ali Akbar
contact_no =		03473742872

In [40]:
#Solution

roll_no = 200
name ="Ali Solangi"
fname ="Ali Akbar"
contact_n0 ="03473742872"


card1 = """NED UNIVERSITY
roll_no =\t\t{2}
name =\t\t\t{0}
fname =\t\t\t{1}
contact_no =\t\t{3}""".format(name,fname,roll_no,contact_no)
#                             0        1    2       3

print(card1)

NED UNIVERSITY
roll_no =		200
name =			Ali Solangi
fname =			Ali Akbar
contact_no =		03473742872

# ( f )function is used here

In [41]:
roll_no = 200
name ="Ali Solangi"
fname ="Ali Akbar"
contact_n0 ="03473742872"



card = f""" NED UNIVERSITY
roll_no ={roll_no}
name ={name}
fname ={fname}
contact_no ={contact_n0 }


"""


print(card)

 NED UNIVERSITY
roll_no =200
name =Ali Solangi
fname =Ali Akbar
contact_no =03473742872

In [47]:
roll_no =input("Roll No:")
name =input("Name:")
fname =input("Father's Name:")
contact_n0 =input("Mobile Number:")

print("\n=============================")

card = f""" \nNED UNIVERSITY
roll_no ={roll_no}
name ={name}
fname ={fname}
contact_no ={contact_n0 }


"""


print(card)

Roll No:3
Name:4
Father's Name:5
Mobile Number:6

=============================

NED UNIVERSITY
roll_no =3
name =4
fname =5
contact_no =6

In [48]:
roll_no =200
name="Ali"
print("Student Name: %s \n roll_no: %d" %(name,roll_no))

Student Name: Ali
 roll_no: 200