# Tuples
    
    *Tuples are created by placing the elements inside parentheses (), separated by commas
    *Ordered
    *Unchangeable
    *Allow Duplicates

In [16]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple1 = ("mouse", (8, 4, 6), (1, 2, 3))
print(my_tuple1)

print(type(my_tuple1))

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', (8, 4, 6), (1, 2, 3))
<class 'tuple'>

In [3]:
tuple1 = (1, 2, 3)
tuple2 = ("apple", "banana", "cherry")
tuple3 = ("hello", 123, True)
tuple4 = ((1, 2, 3), ("apple", "banana", "cherry"))

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

(1, 2, 3)
('apple', 'banana', 'cherry')
('hello', 123, True)
((1, 2, 3), ('apple', 'banana', 'cherry'))

In [8]:
print(len(tuple1))
print(len(tuple2))
print(len(tuple3))
print(len(tuple4))

3
3
3
2

In [9]:
# this is tuple due to ,

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple this is string
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [5]:
print(tuple3[0])


a=tuple2[1]
print(a)

hello
banana

In [10]:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

# The tuple() Constructor

In [12]:
a =tuple(("apple", "banana", "cherry"))
print(a,type(a))

('apple', 'banana', 'cherry') <class 'tuple'>

# Accessing Tuple

In [19]:
a1 = ("apple", "banana", "cherry")
print(a1[0])

apple

In [21]:
a1 = ("apple", "banana", "cherry")
print(a1[-1])

cherry

In [25]:
a1 = ("apple", "banana", "cherry")
print(a1[:-1])

('apple', 'banana')

In [26]:
a1 = ("apple", "banana", "cherry")
print(a1[::-1])

('cherry', 'banana', 'apple')

In [27]:
b = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[2:5])

('cherry', 'orange', 'kiwi')

In [30]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)


print(b[:4])

('apple', 'banana', 'cherry', 'apple', 'cherry')
('apple', 'banana', 'cherry', 'orange')

In [32]:
b= ("apple", "banana", "cherry", "apple", "cherry")



print(b[2:])

('cherry', 'apple', 'cherry')

In [33]:
b = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[-4:-2])

('orange', 'kiwi')

In [34]:
b = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[-2])

melon

In [35]:
b = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[:-2])

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [36]:
b = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[::-2])

('mango', 'kiwi', 'cherry', 'apple')

In [37]:
b = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(b[::-1])

('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')

In [ ]:
tuple1 = (1, 2, 3, 4, 5)

if 3 in tuple1:
    print("3 is in the tuple")
else:
    print("3 is not in the tuple")

# Change Tuple Values
* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called

In [43]:
x = ("apple", "banana", "cherry")

# type casting

y=list(x)
print(y,type(y))


y.append('mango')
y


y.insert(0,'graps')
y



x=tuple(y)
print(x,type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('graps', 'apple', 'banana', 'cherry', 'mango') <class 'tuple'>

In [46]:
thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.append("orange")
thistuple = tuple(y)


print(thistuple,type(thistuple))

('apple', 'banana', 'cherry', 'orange') <class 'tuple'>

In [47]:
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [50]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [51]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [52]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [53]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [55]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits.count('apple')
print(mytuple)

1

In [58]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits.index('apple')
print(mytuple)

0