# dictionary {}

In [17]:
fruit = {'fruit': ['apple', 'banana', 'orange', 'mango', 'grape'],
        "rollno":[1,2,3,4,5,6,7]}

for key in fruit.items():
    print(key)

('fruit', ['apple', 'banana', 'orange', 'mango', 'grape'])
('rollno', [1, 2, 3, 4, 5, 6, 7])

In [27]:
dict = {'name': 'Ali', 
        'age': 27, 
        'address': '123 Main Street'}

for key, value in dict.items():
    print(key, value)

name Ali
age 27
address 123 Main Street

In [28]:
dic ={"fruits":['Apple','Apricot','Avocado','Banana','Black currant','Blackberry','Blueberry'],
     "rollno":[1,2,3,4,5,6,7]}

for key, value in dic.items():
    print(key, value)

    
import pandas as pd

df =pd.DataFrame(dic)
df

fruits ['Apple', 'Apricot', 'Avocado', 'Banana', 'Black currant', 'Blackberry', 'Blueberry']
rollno [1, 2, 3, 4, 5, 6, 7]

          fruits  rollno
0          Apple       1
1        Apricot       2
2        Avocado       3
3         Banana       4
4  Black currant       5
5     Blackberry       6
6      Blueberry       7

In [32]:
dict1 = {'name':[ 'Ali'], 
        'age': [27], 
        'address':[ '123 Main Street']}

for key, value in dict.items():
    print(key, value)
    
df = pd.DataFrame(dict)
df

name ['Ali']
age [27]
address ['123 Main Street']

  name  age          address
0  Ali   27  123 Main Street

In [33]:
dict1 = {'name':'Ali', 
        'age': 27, 
        'address':'123 Main Street'}

for key, value in dict.items():
    print(key, value)
    
df = pd.DataFrame(dict)
df

name ['Ali']
age [27]
address ['123 Main Street']

  name  age          address
0  Ali   27  123 Main Street